<h1>About Money Trees</h1>
<p>Money Trees was founded in 1831 in an attempt to provide the highest quality grow management
resources to the average grower. Growing can be a daunting task, but it is a much more affordable
solution for patients who really need the medicine. The goal at Money Trees is to give those patients
a resource and community where they can ensure a successful harvest.</p>
